RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^.*$ /http/path/to/oriondb

# To prevent caching of the PHP results and 
# to allow custom headers to reach php (bug in apache??)
ExpiresActive off
