<?php

/**
 * \file config.php
 * \brief Settings file for OrionDB. Also sets the locale.
 *
 * 
 */
 
   $ORIONDBCFG_MySQL_host = "localhost";
   $ORIONDBCFG_MySQL_user = "db_user";
   $ORIONDBCFG_MySQL_password = "db_passwd";
   
   $ORIONDBCFG_MySQL_dbname = "dbname";
	$ORIONDBCFG_baseURI = "/path/to"; // no trailing slash please :)

	$ORIONDBCFG_locale = "en_US";
	
	$ORIONDBCFG_logfilename = "oriondb.log";
	$ORIONDBCFG_logfilepath = "/path/to"; 
	
	$ORIONDBCFG_allow_non_sc_clients = false;
	
	/*
	Preparations for the sessions and authentication server plugin
	
	$ORIONDBCFG_sessions_active = false; // sessions active?
	
	
	$ORIONDBCFG_session_name = "OrionDB"; // When multiple instances of OrionDB are on one server, 
	                                      // please set a different session name per instance to prevent
                                         // the different instances to access each others resources
                                         
	$ORIONDBCFG_session_expire_time = 30; // session expire time in minutes
	
	$ORIONDBCFG_cookie_host_name = "localhost"; // hostname to set to the cookie. 
	                                            // If empty, OrionDB will read it from $_SERVER["HTTP_HOST"]
	                                            
	$ORIONDBCFG_cookie_only_secure = false; // force OrionDB to only send the cookie over a secure connection
	
	
	// Settings for the authserver plugin. The authserver expects the $ORIONDBCFG_sessions_active to be set to true
	// if not, it will override it.
	$ORIONDBCFG_plugins['authserver']['active'] = false; // activate the authserver plugin
	$ORIONDBCFG_plugins['authserver']['only_valid_user_session'] = true; // force the user to be successfully authenticated
	                                                                     // before starting a session. 
	
	*/
	
	// functionality that absolutely needs to be executed 
	// creating a valid log file name with path
	$lastposofslash = strrchr($ORIONDBCFG_logfilepath,"/");
	if($lastposofslash != strlen($ORIONDBCFG_logfilepath)){
		$ORIONDBCFG_logfile = $ORIONDBCFG_logfilepath . "/" . $ORIONDBCFG_logfilename;	
	} else {
		$ORIONDBCFG_logfile = $ORIONDBCFG_logfilepath . $ORIONDBCFG_logfilename;	
	}
		
	setlocale (LC_ALL, $ORIONDBCFG_locale);
?>